<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Cliente</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
    <div th:replace="~{fragments/header}"></div>
    <main class="content">
        <h1>Editar Vehiculo</h1>
         
        <form th:action="@{/vehiculos/editar}" th:object="${vehiculo}" method="post">
            <label>Color: <input type="text" th:field="*{color}" /></label><br>
            <label>marca: <input type="text" th:field="*{marca}" /></label><br>
            <label>puertas: <input type="puertas" th:field="*{puertas}" /></label><br>
            <label>autonomia_km: <input type="text" th:field="*{autonomia_km}" /></label><br>
            <label>potencia_cv: <input type="text" th:field="*{potencia_cv}" /></label><br>
            <button type="submit">Guardar Cambios</button>
        
        </form>
    </main>
    <div th:replace="~{fragments/footer}"></div>
</body>
</html>