<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Título por Defecto</title>
    <meta name="description" th:content="${description}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
   
    <div th:replace="~{fragments/header}"></div> 
    <main class="content">
        <h1 th:text="${title}">Título de la Página</h1>
        <p th:text="${description}">Descripción de la página.</p>
         
        <button onclick="window.location.href='/vehiculos/nuevo'">Añadir Nuevo Vehiculo</button>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Color ID</th>
                    <th>Marca</th>
                    <th>Puertas</th>
                    <th>Autonomia</th>
                    <th>Potencia</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="vehiculo : ${vehiculos}">
                    <td th:text="${vehiculo.id}"></td>
                    <td th:text="${vehiculo.color}"></td>
                    <td th:text="${vehiculo.marca}"></td>
                    <td th:text="${vehiculo.puertas}"></td>
                    <td th:text="${vehiculo.autonomia_km}"></td>
                    <td th:text="${vehiculo.potencia_cv}"></td>
                    <!--td>
                        <button th:id="'update_' + ${vehiculo.id}">Editar</button>
                        <button th:id="'delete_' + ${vehiculo.id}">Eliminar</button>
                    </td -->

                    <td>
                        <a th:href="@{/vehiculos/editar/{id}(id=${vehiculo.id})}">Editar</a>
                        <button th:onclick="'eliminarVehiculo(' + ${vehiculo.id} + ')'" type="button">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>


    <script>
        function eliminarVehiculo(vehiculoId) {
            if (confirm('¿Estás seguro de que deseas eliminar este vehiculo?')) {
                fetch(`/api/vehiculos/${vehiculoId}`, {
                    method: 'DELETE'
                }).then(response => {
                    if (response.ok) {
                        alert('vehiculo eliminado correctamente');
                        location.reload();  
                    } else {
                        alert('Error al eliminar el cliente');
                    }
                });
            }
        }
    </script>
    <div th:replace="~{fragments/footer}"></div>
</body>
</html>
